.dashboard {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr;
    gap: 20px;
    height: 100vh;
    align-items: center;
}

.inputPanel {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
}

.phone {
    position: relative;
    //display: block;
    //flex-direction: column;
    //width: 300px;
    //height: 400px;
    background-color: #8b8b8b;
    border: 10px solid #000;
    border-radius: 10px;
    //padding-left: 20px;
}

.phoneScreen {
    position: relative;
    top: 10%;
    left: 8%;
    width: 200px;
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;
    overflow-y: auto;
}

#clearFrame {
    display: flex;
    background-color: #202020;
    //padding: 30px;
    border-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#pseudoCanvas {
    position: relative;
    background: #202020;
    resize: none;
    width: 100%;
    height: 100%;
    color: lightgray;
    font-size: 22px;
    border-style: none;
}

#resultTable {
        width: 100%;
        margin: 0;
        text-align: center;
        display: none;
        table-layout: fixed;
    }

#resultTable thead {
            position: sticky;
            top: 0;
        }
#resultTable th,
#resultTable td {
            overflow-wrap: break-word;
            word-break: break-word;
        }

#buttonContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

#btnContainer_process, #btnContainer_start {
    display: none;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    position: relative;
}

#processBtn, #startBtn {
    background-color: blue;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 24px;
    border-radius: 50%;
}

#textBtn, #translateBtn, #tableBtn {
    background-color: #8b8b8b;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 40px;
    border: none;
}

#clearButton {
    background-color: #202020;
    color: white;
    width: 10px;
    height: 10px;
    font-size: 20px;
    border-style: none;
    position: absolute;
    top: 0px;
    right: 15px;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.clearBorder:focus,
.clearBorder:active {
    border-style: none;
    outline-style: none;
}

#game {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#game canvas {
        display: block;
        max-width: 100%;
        max-height: 90vh;
    }

.hide {
    display: none;
}


